

@{
    ViewData["Title"] = "FATI-APP";
}


<div>
    <h1>F A T I</h1>
    <p>FIFA Online4 Animal Type Indicator</p>
</div>

<div>
    <form asp-controller="Fati" asp-action="Search" method="get">
        <input type="text" placeholder="닉네임을 입력해주세요" name="nickName" />
        <input type="submit" value="조회"/>
   
    </form>
</div>




<div>
    <img src="~/img/fifaonline4.jpg" style="width : 400px"alt="Alternate Text" />
</div>

